<div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
    <div class="transaction-card-overlay">
        <div class="d-flex align-items-center justify-content-center h-100">
            <button mat-icon-button class="edit-button">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-button">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="details">
        <h6>Stock Dividend</h6>
        <div class="text-grey text-tiny mb-1 transaction-description">Lorem ipsum dolor sit amet</div>
        <div class="text-grey text-small">5 Jan 2023</div>
    </div>
    <div class="amount-credit d-flex flex-column justify-content-center align-items-end">
        <h5 class="m-0">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            2000.00
        </h5>
        <div class="text-grey text-tiny">5%</div>
    </div>
</div>