<div class="expense-tracker-view d-flex align-items-center justify-content-center">
    <div class="expenses-pane py-3 d-flex flex-column">
        <div class="pane-header d-flex align-items-center justify-content-between px-3">
            <h5>Incomes</h5>
            <button mat-flat-button class="primary-button rounded-button">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="pane-body scrollbar">
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="transaction-card-overlay">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <button mat-icon-button class="edit-button">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="delete-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="details">
                    <h6>Salary</h6>
                    <div class="text-grey">1 Jan 2023</div>
                </div>
                <div class="amount-credit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        70000.00
                    </h5>
                    <div class="text-grey">80%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="transaction-card-overlay">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <button mat-icon-button class="edit-button">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="delete-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="details">
                    <h6>Stock Dividend</h6>
                    <div class="text-grey">5 Jan 2023</div>
                </div>
                <div class="amount-credit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        2000.00
                    </h5>
                    <div class="text-grey">5%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="transaction-card-overlay">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <button mat-icon-button class="edit-button">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="delete-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="details">
                    <h6>Side Project</h6>
                    <div class="text-grey">5 Jan 2023</div>
                </div>
                <div class="amount-credit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        10000.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="balance-details-pane d-flex align-items-center justify-content-center">
        <div class="balance-details d-flex flex-column p-2 justify-content-between">
            <div class="month-year d-flex align-items-center justify-content-between">
                <div class="text-grey">January</div>
                <div class="text-grey">2023</div>
            </div>
            <div class="available-balance d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="text-grey">Balance</div>
                    <h4>
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        70000.00
                    </h4>
                </div>
            </div>
            <div class="income-expense d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column">
                    <div class="text-grey text-small">Total Income</div>
                    <h6 class="amount-credit">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        70000.00
                    </h6>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <div class="text-grey text-small">Total Expenses</div>
                    <h6 class="amount-debit">
                        <i class="fa-solid fa-indian-rupee-sign"></i>
                        70000.00
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="expenses-pane py-3 d-flex flex-column">
        <div class="pane-header d-flex align-items-center justify-content-between px-3">
            <h5>Expenses</h5>
            <button mat-flat-button class="primary-button rounded-button">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="pane-body scrollbar">
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="details">
                    <h6>Petrol</h6>
                    <div class="text-grey">1 Jan 2023</div>
                </div>
                <div class="amount-debit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        -<i class="fa-solid fa-indian-rupee-sign"></i>
                        200.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="details">
                    <h6>Rent</h6>
                    <div class="text-grey">15 Jan 2023</div>
                </div>
                <div class="amount-debit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        -<i class="fa-solid fa-indian-rupee-sign"></i>
                        9000.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="details">
                    <h6>Laptop EMI</h6>
                    <div class="text-grey">5 Jan 2023</div>
                </div>
                <div class="amount-debit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        -<i class="fa-solid fa-indian-rupee-sign"></i>
                        11000.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="details">
                    <h6>Burger</h6>
                    <div class="text-grey">10 Jan 2023</div>
                </div>
                <div class="amount-debit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        -<i class="fa-solid fa-indian-rupee-sign"></i>
                        3000.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="details">
                    <h6>Burger</h6>
                    <div class="text-grey">10 Jan 2023</div>
                </div>
                <div class="amount-debit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        -<i class="fa-solid fa-indian-rupee-sign"></i>
                        3000.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
            <div class="transaction-card py-3 px-4 d-flex align-items-center justify-content-between mt-3">
                <div class="details">
                    <h6>Burger</h6>
                    <div class="text-grey">10 Jan 2023</div>
                </div>
                <div class="amount-debit d-flex flex-column justify-content-center align-items-end">
                    <h5 class="m-0">
                        -<i class="fa-solid fa-indian-rupee-sign"></i>
                        3000.00
                    </h5>
                    <div class="text-grey">15%</div>
                </div>
            </div>
        </div>
    </div>
</div>