<div class="expense-form">
    <div class="expense-form-control">
        <label class="text-grey">Title</label>
        <input type="text" placeholder="Enter title">
    </div>
    <div class="expense-form-control">
        <label class="text-grey">Amount</label>
        <input type="text" placeholder="Enter amount">
    </div>
    <div class="expense-form-control">
        <label class="text-grey">Description</label>
        <textarea rows="5" placeholder="Enter description"></textarea>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <button mat-stroked-button style="margin-right: .5rem; color: #FC9171 !important;" class="text-secondary">Clear</button>
        <button mat-flat-button class="secondary-button">Save</button>
    </div>
</div>