<div class="navbar h-100 w-100">
    <div class="navbar-menu h-100 d-flex align-items-center justify-content-center flex-column">
        <a class="menu-link mb-5">
            <mat-icon fontIcon="home"></mat-icon>
        </a>
        <a class="menu-link mb-5">
            <mat-icon fontIcon="person"></mat-icon>
        </a>
        <a class="menu-link mb-5">
            <mat-icon fontIcon="timer"></mat-icon>
        </a>
        <a class="menu-link mb-5" routerLink="expense-tracker">
            <mat-icon fontIcon="attach_money"></mat-icon>
        </a>
        <a class="menu-link mb-5">
            <mat-icon fontIcon="settings"></mat-icon>
        </a>
        <a class="menu-link mb-5">
            <mat-icon fontIcon="exit_to_app"></mat-icon>
        </a>
    </div>
</div>