<div class="expenses-pane pb-3 d-flex flex-column">
    <div class="pane-header d-flex align-items-center justify-content-between px-3"
        style="background-color: #573D71; color: #fff;">
        <h5 class="m-0">Incomes</h5>
        <div class="d-flex align-items-center">
            <button mat-icon-button style="margin-right: .5rem;">
                <mat-icon class="text-grey" style="color: #fff;">sort</mat-icon>
            </button>
            <button mat-flat-button class="secondary-button rounded-button">
                <mat-icon>add</mat-icon>
            </button>
            <!-- <button mat-flat-button>
                <mat-icon style="color: #FC9171;">keyboard_backspace</mat-icon>
            </button> -->
        </div>
    </div>
    <!-- <div class="pane-body scrollbar d-flex align-items-start justify-content-center">
        <app-expense-tracker-add class="w-100"
            style="margin-right: 1rem; margin-left: 1rem;"></app-expense-tracker-add>
    </div> -->
    <div class="pane-body scrollbar">
        <app-transaction-card></app-transaction-card>
        <app-transaction-card></app-transaction-card>
        <app-transaction-card></app-transaction-card>
    </div>
</div>