@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

// Variables 
$primary-color: #573D71;
$secondary-color: #FC9171;
$grey-color: #F9FAFE;
$grey-text: #818184;
$red: #eb5b3c;
$green: #00d09c;

input,
textarea {
    border: 1px solid $grey-text;
    outline: none;
    padding: 0.5rem;
    border-radius: 10px;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-grey {
    color: $grey-text;
}

.text-small {
    font-size: .9rem;
}

.text-tiny {
    font-size: .75rem;
}

.main-container {
    background-color: #fff;
}

.container-body {
    width: 99%;
    height: 98%;
    background-color: $grey-color;
    border-radius: 0 20px 20px 0;
}

.navbar-container {
    flex: 1;
}

.app-body {
    flex: 22;
}

.secondary-button {
    background-color: $secondary-color !important;
    color: #fff !important;
}

.rounded-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 40px !important;
    width: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    min-height: 40px !important;
    min-width: 40px !important;
    border-radius: 50% !important;
    padding: 0 !important;

    mat-icon {
        margin: 0 !important;
    }
}

// Navbar

.navbar {
    background-color: $primary-color;
    border-radius: 20px 0 0 20px;
    width: 100%;
    display: block !important;

    &-menu {
        .menu-link {
            color: $grey-color;
            display: block;
            cursor: pointer;
        }
    }
}

// Header

.header {
    height: 70px;

    .profile {
        width: 50px;
        height: 50px;
        background-color: rgb(197, 90, 108);
        border-radius: 50%;
        font-size: 1.1rem;
        font-weight: 500;
        color: #fff;
    }
}



section.section {
    height: 100%;
    padding-bottom: .5rem;
}

.expense-tracker-view {
    height: 100%;
}

.balance-details-pane {
    flex: 1;
    .balance-details {
        transition: .2s all ease-in-out;
        cursor: pointer;
        border-top: 8px solid $primary-color;
        border-bottom: 8px solid $primary-color;
        box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
        height: 200px;
        width: 92%;
        border-radius: 10px;
        &:hover {
            transform: scale(1.01);
        }
    }
}

.expenses-pane {
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 8px solid $primary-color;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    flex: 1;
}

.expenses-pane {
    .pane-header {
        flex: 1;
    }

    .pane-body {
        flex: 10;
        // height: 100%;
        overflow-y: auto;

    }
}

.transaction-card {
    margin: 0 1rem;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: relative;
    .transaction-card-overlay {
        transition: all .2s ease-in;
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, .6);
        backdrop-filter: saturate(180%) blur(1.5px);
        border-radius: 10px;
        .edit-button,
        .delete-button {
            color: #fff !important;
        }
    }
    &:hover .transaction-card-overlay{
        opacity: 1;
    }
}

.amount-credit {
    color: $green;
}

.amount-debit {
    color: $red
}


.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(171, 171, 171);
}

.expense-form {
    width: 100%;
    label {
        display: block;
    }
    &-control {
        margin-top: 1.2rem;
        input,
        textarea {
            width: 100%;
            resize: none;
        }
    }
}